
/* common classes */
*{
    margin: 0px ;
    padding: 0;
    
}
body{
   margin:0px;
   
   max-width: 1600px;

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  color: white;
  background-color: #1A0B2E;

}
nav{
    /* padding: 12px 200px; */
   width: 1600px;
   align-items: center;
    height: 92px; 
    margin:0 auto;
    width: 100%;
    justify-content: center;
   
}
.ex-bold{
    font-weight: 800;
}
.f-48{
    font-size:48px;
}
.bold{
    font-weight: 700;
}
.semi-bold{
    font-weight: 600;
}
.regular
{
color: #FFFFFF;
font-size: 1rem;
}
.gradient-text{
    background: linear-gradient( to top right, #F7E93F,#FB09B4,#9100F8);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.gradient{
    background: linear-gradient( to top right, #F7E93F,#FB09B4,#9100F8);

  
   
}
.dark{
    background-color: #1A0B2E;
}
.light-bg{
    background-color: #230E3D;
}
.dark-bg{
    background-color: rgba(65, 37, 103, 1);
}
.flex{
    display: flex;
}
.gap-32{
    gap:32px;
}
.justify-between{
    justify-content: space-between;
}

ul{
    align-items: center;
    /* padding: 24px 200px; */
    
}
/* specific */
.nav-container{
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    padding-top:24px;
    height: 44px;
   
}
.nav-h{
    font-size: 2rem;
}
a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}
li{
    list-style: none;
}

.nav-btn{
    padding: 12px 16px;
    width:135px;

border-radius: 10000px  ;}
/* header image section */
.s1{
    background-image: url('./assets/hero-bg.png');
    height: 760px;
    width: 100%;
    max-width: 1600px;
    align-items: center;
    justify-content: center;
}
.s1-c1{
    /* display: flex;
    align-items: center;
    justify-content: center; */
   
 
}
.s1-c1{
 box-sizing: border-box;
    background: linear-gradient( to top right, #ffea00,#FB09B4,#9100F8);
    width: 350px;
    height: 350px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    position: relative;
}
.s1-c1 img{
    
display: block;
max-width: 120px;
width: 100%;
max-height: 175px;
height: auto;
    

}
.img-contianer{
   
    display: inline-block;

}
.badge{
    text-align: center;
    border-radius: 10000px;
    background-color: #00FF88;
    color: rgb(0, 0, 0);
    position: absolute;
    top:3px;
    font-size: 18px;
    font-weight: 700;
    left:250px;
    max-width: 75px;
    padding: 8px 16px;
    

}
.s1-container{
   text-align: center;
   max-width: 550px;
   align-items: center;
   display: flex;
   flex-direction: column;
   margin-top: 100px
    
}
.s1-p{

}
.s1-c2{
    max-width: 550px;
  margin-top: 40px;
    margin-bottom: 24px;
}
.s1-h1{
    font-weight: 800;
    font-size: 3.75rem;
}
.b1-container{
    display: flex;
}
.btn1{
border-radius: 10000px;
padding: 12px 20px;
height: 44px;
margin-bottom: 100px;
}
.b1-text{
    margin-left: 8px;
    color: white;
}
.btn2 {   background: transparent;
    height: 44px;
    border-radius: 10000px;
padding: 12px 20px;
border: 2px solid #00FF88;

    
    
}
.btn2-text{
    color: #00FF88;
    margin-left: 8px;
}
.b2-container{
text-align: center;
align-items: center;

/* height: 44px; */
color: #00FF88;


}
.btn2:hover,.btn1:hover{
    cursor: pointer;
}
.s2{
    height: 650px;

}
.s2-container{
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.s2-c1{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 160px;
}
.s2-c2{
    max-width: 1200px;
}
.card{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.card h3{
    font-size: 3rem;
    font-weight: 900;
    color: #00FF88;
    margin-bottom: 16px;

}
/* Section 03 */
.s3-container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;

}
.s3-h3{
    padding-top: 120px;
    margin-bottom: 40px;
}
.s3-c1{
    text-align: center;
}
.s3-card{
   margin: 0 auto;
   
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* grid-template-rows: repeat(3,1fr); */
    align-items: center;
   gap:30px;
   grid-auto-flow: dense;
}
.card-clr{
    
    background-color: #2c116573;
}
.card-clr h3{
    font-size: 1.25rem;
    font-weight: bold;
}
.card-clr img,.card-clr h3{
    margin-bottom: 16px;

}

.s3-cd1{
    grid-row: span 2;
   border:none;
    border-radius: 40px;
    padding: 110px 40px;
}
.s3-cd2{
    grid-column: span 2;
    padding: 40px;
    border:none;
    border-radius: 40px;
}
.s3-cd3{
    grid-column: span 2;
    padding: 40px;
    border:none;
    border-radius: 40px;
}
.s3-cd4{
    
    padding: 40px;
    grid-column: span 2;
    border:none;
    border-radius: 40px;
}
.s3-cd5{
    padding: 40px;
    border:none;
    border-radius: 40px;

}
/* <!-- Section 04 --> */
.s4-container{
    max-width: 1200px;
    margin: 0 auto;
}
.s4-h{
    max-width: 1200px;
    text-align: center;
    padding-top: 120px;
    margin-bottom: 40px;
    font-size: 3rem;
}
.s4-c1 {
    max-width:1200px;
    display: flex;
    gap:30px;
}
.common-card{
    max-width: 380px;
    background-color: #250D44; 
    border-radius: 24px 24px 24px 24px;
    
    overflow: hidden;

}
.common-card h3{
margin: 24px 24px 12px 24px;
height: 60px;
}
.common-card p{
    margin-left: 24px;
}
.timer{
    display: flex;
    margin: 12px auto 24px 24px;
}
.timer-text{
    color:#00FF88;
}
.extra{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
   
}
.ex-container{
    background-color: #250D44; 
    display: flex;
    max-width: 1200px;
    max-height: 280px;
    margin-bottom: 120px;
    border-radius: 24px;
    
}
.ex-head{
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    padding-top:120px;
    margin-bottom: 40px;
}
.ex-img{
    max-width: 200px;
    max-height: 200px;
    width: 100%;
    margin:40px 24px 40px 40px;
}
.ex-info h3{
    font-size: 2rem;
    font-family:bold;
    margin-bottom: 16px;
}
.ex-info p{
 margin-bottom: 16px;
}
.ex-info{
    max-width: 900px;
    margin: 48px 40px 48px 0px;
}
.ex-logo{
display: flex;
gap:8px;

}
.log1,.log2,.log3,.log4{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #533C72;
box-sizing: border-box;
width: 40px;
height: 40px;
border-radius: 50%.;
}
/* Footer */
footer{
    background-image: url('./assets/footer-bg.png');
    height: 412px;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
     align-items: center;
    justify-content: center;
}
.f-container{
    text-align: center;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    gap: 32px;
   
}
.f-flex{
    display: flex;
    gap:10px;
}
.f-logo{
display: flex;
    gap:40px;
}